/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-image: url('/assets/stressed_linen_@2X.png');
	color: white;
}

h1 {
	font-family: 'Amaranth', sans-serif;
}

nav.navbar {
	background: linear-gradient(#304C3E, #23372d);
	border: 0;
}

.navbar-default .navbar-nav li a{
	color: white;
}

.navbar-default .navbar-nav li a:hover{
	color: white;
	text-decoration: underline;
}

.navbar-default .navbar-nav li a:visited{
	color: #aaa; 
	/*TODO -- Change this to something more visible on the background.*/
}

.glyphicon{
	color: white;
}

.btn-primary, .btn-success{
	background: linear-gradient(#304C3E, #23372d);
	border: 0;
}

.btn-success{
	margin-bottom: 1%;
}

.btn-success:active, .btn-primary:active {
	background-color: #4a7660;
}

.table-striped {
	background-color: rgba(255,255,255,0.1);
}